src/main/mule/doctus-55.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c9b378b6-df22-4b97-9f43-ea50ba6e50cd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="doctus-55Flow" doc:id="0ce45602-c21f-4f00-8b39-210b5c666328" >
		<http:listener doc:name="Listener" doc:id="cddcc696-2069-4eef-8895-7fb884f3c03a" config-ref="HTTP_Listener_config" path="/demo"/>
		<logger level="INFO" doc:name="Logger" doc:id="56cba172-5e15-4585-8bca-468820ce6c59" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="6c5968eb-4059-471a-852a-9ed81f9a6545" />
	</flow>
</mule>
